.body {
	display: flex ;
	flex-direction: row ;
	flex-wrap: wrap ;
	justify-content: space-around;
}
.sidebar {
	display: block ;
	flex: 1 ;
}
.sidebar form label {
	display: flex ;
	flex-direction: row ;
	flex-wrap: wrap ;
	justify-content: space-around;
	padding: 10px 5px ;
}
.sidebar form label span {
	display: block ;
	flex: 1 ;
}
.sidebar form label span:after {
	content: ":" ;
}
.sidebar form label input ,
.sidebar form label select {
	width: 100% ;
	flex: 1 ;
}
.content {
	flex: 3 ;
}
.content > table {
	width: 100% ;
}
.both {
	clear: both ;
}
* > *[data-template]:first-child {
	display: none ;
}
.pagination {
	list-style-type: none ;
	display: flex ;
	flex-direction: row-reverse ;
}
.pagination li {
	margin: 0 5px ;
}
.pagination li a ,
.pagination li a:visited {
	color: blue ;
}
.pagination li a[data-active="true"] {
	font-weight: bold ;
	text-decoration: none ;
	color: #000000 ;
}
.pagination li a[href^="null"] ,
.pagination li a[data-page^="Next"] ,
.pagination li a[data-page*="Prev"] {
	display: none ;
}

.template-values-empty:after {
	content: attr(data-empty);
	position: absolute ;
	margin: 0 25% ;
	font-size: 300% ;
	font-family: Tahoma ;
	color: red ;
	opacity: 0.5 ;
	display: block ;
}
tbody.template-values-empty ~ tfoot {
	display: none ;
}